* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.blog-details-img {
  width: 100%;
  height: 350px;
  background: url(/assets/img/breadcrumb.jpg) no-repeat;
  background-size: cover;
  color: #ffffff;
}
.blog-details-img h3 {
  font-weight: 700;
  font-size: 50px;
}
@media (max-width: 1400px) {
  .blog-details-img h3 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .blog-details-img h3 {
    text-align: center;
    font-size: 16px;
  }
}
.blog-details-img a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.blog-details-img p {
  color: #ffffff;
  font-size: 16px;
  margin-right: 17px;
}

.blog-details {
  margin-top: 30px;
}
.blog-details .blog-sidebar {
  padding: 50px 10px;
}
.blog-details .blog-sidebar .search {
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 33px;
}
.blog-details .blog-sidebar .search input {
  border: none !important;
}
.blog-details .blog-sidebar .search input:focus-visible {
  outline: none !important;
}
.blog-details .blog-sidebar .search span {
  margin-right: 15px;
  color: #6f6f6f;
}
.blog-details .blog-sidebar .Categories h3 {
  font-weight: 700;
  color: #1c1c1c;
}
.blog-details .blog-sidebar .Categories li {
  margin-bottom: 20px;
}
.blog-details .blog-sidebar .Categories li a {
  color: #666666;
  font-size: 16px;
}
.blog-details .blog-sidebar .Categories li a:hover {
  color: #7fad39;
}
.blog-details .blog-sidebar .News h3 {
  font-weight: 700;
  color: #1c1c1c;
}
.blog-details .blog-sidebar .News p {
  color: #1c1c1c;
  font-weight: 700;
}
.blog-details .blog-sidebar .News span {
  color: #999999;
  font-size: 12px;
}
.blog-details .blog-sidebar .Search-By h3 {
  font-weight: 700;
  color: #1c1c1c;
}
.blog-details .blog-sidebar .Search-By a {
  background-color: #f5f5f5;
  color: #6f6f6f;
  font-size: 16px;
  padding: 7px 20px 5px;
  margin-right: 10px;
}
.blog-details .bolg-items p {
  font-size: 18px;
  line-height: 30px;
  color: #6f6f6f;
}
.blog-details .bolg-items h3 {
  font-weight: 700;
  color: #1c1c1c;
}
.blog-details .bolg-items .content img {
  border-radius: 50%;
  margin-right: 15px;
}
.blog-details .bolg-items .content .tittle h6 {
  margin-bottom: 0px;
  color: #1c1c1c;
  font-weight: 700;
}
.blog-details .bolg-items .content .tittle span {
  font-size: 16px;
}
.blog-details .bolg-items .content ul {
  padding-left: 0;
}
.blog-details .bolg-items .content ul span {
  font-weight: 700;
  font-size: 16px;
}
.blog-details .bolg-items .content .icon svg {
  font-size: 20px;
  margin-right: 15px;
  color: #6f6f6f;
}

.post h2 {
  font-weight: 700;
  color: #1c1c1c;
}
.post h2::after {
  position: absolute;
  content: "";
  width: 101px;
  height: 5px;
  background-color: #7fad39;
  left: 50%;
  top: 43px;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
}
.post .box {
  margin-top: 55px;
}
.post .box .box-tiitle {
  margin-bottom: 35px;
}
.post .box .box-tiitle .date {
  color: #b2b2b2;
}
.post .box .box-tiitle h5 {
  font-weight: 700;
}
.post .box .box-tiitle p {
  color: #6f6f6f;
  font-size: 16px;
}
.post .box .box-tiitle a {
  color: #6f6f6f;
  border: 1px solid #b2b2b2;
  padding: 7px 15px;
  border-radius: 20px;
}

.blog-image {
  width: 100%;
  height: 200px;
  background: url(/assets/img/breadcrumb.jpg) no-repeat;
  background-size: cover;
  color: #ffffff;
}
.blog-image h3 {
  font-weight: 700;
  font-size: 50px;
}
.blog-image a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.blog-image hr {
  width: 18px;
  margin: 1rem 5px 9px !important;
  color: #ffffff;
  border-top: 3px solid;
  opacity: 1 !important;
}
.blog-image span {
  color: #ffffff;
  font-size: 16px;
}

.blog {
  margin-top: 30px;
}
.blog .blog-sidebar {
  padding: 50px 10px;
}
.blog .blog-sidebar .search {
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 33px;
}
.blog .blog-sidebar .search input {
  border: none !important;
}
.blog .blog-sidebar .search input:focus-visible {
  outline: none !important;
}
.blog .blog-sidebar .search span {
  margin-right: 15px;
  color: #6f6f6f;
}
.blog .blog-sidebar .Categories h3 {
  font-weight: 700;
  color: #1c1c1c;
}
.blog .blog-sidebar .Categories li {
  margin-bottom: 20px;
}
.blog .blog-sidebar .Categories li a {
  color: #666666;
  font-size: 16px;
}
.blog .blog-sidebar .Categories li a:hover {
  color: #7fad39;
}
.blog .blog-sidebar .News h3 {
  font-weight: 700;
  color: #1c1c1c;
}
.blog .blog-sidebar .News p {
  color: #1c1c1c;
  font-weight: 700;
}
.blog .blog-sidebar .News span {
  color: #999999;
  font-size: 12px;
}
.blog .blog-sidebar .Search-By h3 {
  font-weight: 700;
  color: #1c1c1c;
}
.blog .blog-sidebar .Search-By a {
  background-color: #f5f5f5;
  color: #6f6f6f;
  font-size: 16px;
  padding: 7px 20px 5px;
  margin-right: 10px;
}
.blog .bolg-items .box-tiitle {
  margin-bottom: 35px;
}
.blog .bolg-items .box-tiitle .date {
  color: #b2b2b2;
}
.blog .bolg-items .box-tiitle h5 {
  font-weight: 700;
}
.blog .bolg-items .box-tiitle p {
  color: #6f6f6f;
  font-size: 16px;
}
.blog .bolg-items .box-tiitle a {
  color: #6f6f6f;
  border: 1px solid #b2b2b2;
  padding: 7px 15px;
  border-radius: 20px;
}
.blog .bolg-items .num a {
  text-align: center;
  border: 1px solid #b2b2b2;
  padding: 5px 10px;
  margin: 5px;
  color: #666666;
  font-weight: 400;
}
.blog .bolg-items .num a:hover {
  background-color: #7fad39;
}

.top-check {
  margin: 70px 0;
}
.top-check .tittle {
  color: #999999;
  background-color: #f5f5f5;
  border-top: 1px solid #7fad39;
  padding: 7px;
  font-size: 16px;
}
.top-check .tittle svg {
  color: #7fad39;
  margin-right: 3px;
}
.top-check .tittle span {
  cursor: pointer;
  text-decoration-line: underline;
}

.billing h4 {
  color: #1c1c1c;
  font-weight: 700;
}
.billing span {
  color: red;
}
.billing input {
  height: 46px;
  border: 1px solid #ebebeb;
  padding-left: 20px;
  font-size: 16px;
  color: #b2b2b2;
  margin-bottom: 20px;
  border-radius: 4px;
}
.billing input:focus-visible {
  outline: none !important;
}
.billing .input-check4 .p {
  color: #b2b2b2;
}
.billing .input-check4 .form-check input {
  height: 16px !important;
  padding-left: 0px !important;
  margin-right: 15px;
  background-color: #ffffff;
  border-color: #999999;
}
.billing .input-check4 .form-check input:focus {
  -webkit-box-shadow: 0 0 0 0 #7fad39 !important;
          box-shadow: 0 0 0 0 #7fad39 !important;
  background-color: #7fad39 !important;
  border: #7fad39 !important;
}
.billing .order {
  background: #f5f5f5;
  padding: 35px;
  padding-top: 30px;
}
.billing .order h4 {
  color: #1c1c1c;
  font-weight: 700;
}
.billing .order p {
  font-size: 16px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 26px;
}
.billing .order ul li {
  margin-bottom: 10px;
}
.billing .order ul li span {
  float: right;
}
.billing .order ul li .price {
  font-size: 16px;
  color: #6f6f6f;
  font-weight: 700;
}
.billing .order ul .bold {
  color: #1c1c1c;
  font-weight: 700;
  font-size: 18px;
}
.billing .order .form-check input {
  height: 16px !important;
  padding-left: 0px !important;
  margin-right: 15px;
  background-color: #f5f5f5;
  border-color: #999999;
}
.billing .order .form-check input:focus {
  -webkit-box-shadow: 0 0 0 0 #7fad39 !important;
          box-shadow: 0 0 0 0 #7fad39 !important;
  background-color: #7fad39 !important;
  border: #7fad39 !important;
}
.billing .order button {
  margin: 15px 0;
  background: #7fad39;
  width: 100%;
  padding: 12px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
}
.billing .order .btn {
  border-radius: 0px !important;
}

.contact-image {
  width: 100%;
  height: 200px;
  background: url(/assets/img/breadcrumb.jpg) no-repeat;
  background-size: cover;
  color: #ffffff;
}
.contact-image h3 {
  font-weight: 700;
  font-size: 50px;
}
.contact-image a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.contact-image hr {
  width: 18px;
  margin: 1rem 5px 9px !important;
  color: #ffffff;
  border-top: 3px solid;
  opacity: 1 !important;
}
.contact-image span {
  color: #ffffff;
  font-size: 16px;
}

@media (max-width: 992px) {
  .contact-spad .col {
    margin-bottom: 26px;
  }
}
.contact-spad svg {
  font-size: 35px;
  color: #7fad39;
  margin-bottom: 14px;
}
.contact-spad h4 {
  font-weight: 700;
  color: #1c1c1c;
}
.contact-spad span {
  color: #666666;
}

.contact-map .map-tittle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #ffffff;
  padding: 15px;
}
.contact-map .map-tittle h4 {
  font-size: 23px;
  font-weight: 700;
  color: #1c1c1c;
}
.contact-map .map-tittle p {
  color: #666666;
}
.contact-map .icon {
  font-size: 40px;
  color: #7fad39;
  position: absolute;
  left: 50%;
  top: 80%;
  -webkit-transform: translate(-80%);
          transform: translate(-80%);
}

.contact-message h3 {
  font-size: 38px;
  font-weight: 700;
  color: #1c1c1c;
}
.contact-message .box input {
  padding-top: 5px;
  height: 50px;
  color: #6f6f6f;
  border: 1px solid #ebebeb !important;
  padding-left: 15px;
  margin-bottom: 40px;
}
.contact-message .box input:focus-visible {
  outline: none !important;
}
@media (max-width: 767px) {
  .contact-message .box input {
    margin-bottom: 34px;
  }
}
.contact-message .box .message {
  padding-top: 10px;
  height: 150px !important;
  color: #6f6f6f;
  border: 1px solid #ebebeb !important;
  padding-left: 15px;
  margin-bottom: 40px;
  resize: none;
}
.contact-message .box .message:focus-visible {
  outline: none !important;
}
@media (max-width: 767px) {
  .contact-message .box .message {
    margin-bottom: 34px;
  }
}
.contact-message button {
  background-color: #7fad39;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 0 !important;
}
.contact-message button:hover {
  background-color: #7fad39 !important;
  color: #ffffff !important;
}

.footer {
  background-color: #f3f6fa;
}
.footer .col .box .logo {
  margin-bottom: 20px;
}
.footer .col .box li {
  margin-bottom: 12px;
  font-size: 16px;
}
.footer .col .box p {
  font-size: 14px;
}
.footer .col h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #1c1c1c;
}
.footer .col .list li {
  margin-bottom: 10px;
  font-size: 14px;
}
.footer .col .search {
  margin-top: 15px;
}
.footer .col .search input {
  border: 1px solid #ededed;
  height: 46px;
  padding-left: 15px;
  color: #1c1c1c;
  border: none !important;
}
.footer .col .search input:focus-visible {
  outline: none !important;
}
.footer .col .search span {
  background-color: #7fad39;
  color: #ffffff;
  font-weight: 700;
  height: 46px;
  padding: 10px;
}
.footer .col .icon svg {
  padding: 14px;
  background-color: #ffffff;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .footer .col {
    margin-bottom: 25px;
  }
}
.footer .Copyright a {
  color: #7fad39;
  font-size: 18px;
  font-weight: bold;
}

.bootom .list-group .collapse:not(.show) {
  display: block;
}
@media (max-width: 992px) {
  .bootom .list-group .collapse:not(.show) {
    display: none !important;
  }
}

.banner .img-banner {
  background-image: url(/assets/img/hero/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 80px;
}
.banner .img-banner .p {
  font-size: 16px;
  color: #7fad39;
  font-weight: bold;
}
.banner .img-banner h1 {
  font-size: 40px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .banner .img-banner h1 {
    font-size: 25px;
  }
}
.banner .img-banner p {
  font-size: 16px;
  color: #6f6f6f;
}
.banner .img-banner button {
  width: 132px;
  background-color: #7fad39;
  color: white;
  font-weight: 700;
  padding: 10px;
  font-size: 13px;
}
.banner .img-banner button:hover {
  background-color: #7fad39;
}
@media (max-width: 992px) {
  .banner .img-banner button {
    width: 100px;
  }
}

.Categories {
  margin-top: 100px;
}
.Categories .titlle .text {
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  background-color: #fff;
}
.Categories .titlle .text a {
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.Categories .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 33px;
  background-color: #fff;
  border: 1px solid black;
  /* padding: 0 22px; */
  width: 25px;
  height: 80px;
}
@media (max-width: 767px) {
  .Categories .owl-carousel .owl-nav .owl-next {
    position: relative;
    bottom: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    right: -10px;
    height: 50px;
  }
}
.Categories .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 33px;
  background-color: #fff;
  border: 1px solid black;
  /* padding: 0 22px; */
  width: 25px;
  height: 80px;
}
@media (max-width: 767px) {
  .Categories .owl-carousel .owl-nav .owl-prev {
    position: relative;
    bottom: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    left: -10px;
    height: 50px;
  }
}

.Featured-Product h2 {
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #1c1c1c;
}
.Featured-Product h2::after {
  position: absolute;
  content: "";
  width: 101px;
  height: 5px;
  background-color: #7fad39;
  left: 50%;
  top: 43px;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
}
.Featured-Product ul li a {
  color: black;
  font-size: 18px;
}
.Featured-Product ul li:hover ::after, .Featured-Product ul li.active ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #7fad39;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.Featured-Product .row {
  margin-top: 50px;
}
.Featured-Product .row .box ul {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.Featured-Product .row .box ul li a {
  padding: 10px 20px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #1c1c1c;
}
@media (min-width: 767px) and (max-width: 1197px) {
  .Featured-Product .row .box ul li a {
    padding: 7px 12px;
  }
}
.Featured-Product .row .box ul li a:hover {
  color: #ffffff;
  background-color: #7fad39;
}
.Featured-Product .row .box ul li a svg {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.Featured-Product .row .box ul li a svg:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.Featured-Product .row .box:hover ul {
  opacity: 1;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
@media (min-width: 767px) and (max-width: 1197px) {
  .Featured-Product .row .box:hover ul {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}
.Featured-Product .row .titlle h6 {
  color: #1c1c1c;
  font-weight: 700;
}

.bolg-items h2 {
  font-weight: 600;
  color: #1c1c1c;
}
.bolg-items h2::after {
  position: absolute;
  content: "";
  width: 101px;
  height: 5px;
  background-color: #7fad39;
  left: 50%;
  top: 43px;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
}
.bolg-items .box-tiitle {
  margin-bottom: 35px;
}
.bolg-items .box-tiitle .date {
  color: #b2b2b2;
}
.bolg-items .box-tiitle h5 {
  font-weight: 700;
}
.bolg-items .box-tiitle p {
  color: #6f6f6f;
  font-size: 16px;
}
.bolg-items .box-tiitle a {
  color: #6f6f6f;
  border: 1px solid #b2b2b2;
  padding: 7px 15px;
  border-radius: 20px;
}

.top-header {
  background-color: #f8f9fa;
}
.top-header .links a {
  padding: 0 10px;
}
.top-header .languge {
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd;
}
.top-header .languge .dropdown-toggle::after {
  vertical-align: 0.2em !important;
}
.top-header .languge button {
  margin: 0 10px;
}

.header .nav-item {
  padding: 0 25px;
}
.header .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #1c1c1c;
}
.header .nav-item .nav-link:hover {
  color: #7fad39;
}
.header .nav-item .active {
  color: #7fad39;
}
.header .link li {
  padding: 0 10px;
}
.header .link li .a1 {
  position: relative;
}
.header .link li .a1::after {
  content: "1";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7fad39;
  color: #ffffff;
  font-size: 10px;
  padding: 1px 4px;
  top: -2px;
}
.header .link li .a2 {
  position: relative;
}
.header .link li .a2::after {
  content: "3";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7fad39;
  color: #ffffff;
  font-size: 10px;
  padding: 1px 4px;
  top: -2px;
}
.header .link svg {
  font-size: 18px;
  color: #1c1c1c;
}
.header .link .span2 {
  color: #1c1c1c;
  font-weight: 700;
}
.header .page-sub {
  display: none;
  width: 200px;
  left: 0;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.header .page-sub a {
  line-height: 20px;
  padding: 8px 20px;
  font-weight: 400;
  font-size: 14px;
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .page-main:hover .page-sub {
  display: block;
}
.header .mobile-toggle a svg {
  font-size: 30px;
  color: black;
}
.header .offcanvas {
  width: 35%;
}
@media (max-width: 767px) {
  .header .offcanvas {
    width: 78%;
  }
}
.header .offcanvas .login .languge {
  border-right: 2px solid #ddd;
}
.header .offcanvas .login .languge .dropdown-toggle::after {
  vertical-align: 0.2em !important;
}
.header .offcanvas .list-group a,
.header .offcanvas .collapse a {
  color: #ffffff;
}

.bottom-header .list-group {
  z-index: 9;
}
.bottom-header .list-group .active {
  font-size: 17px;
  font-weight: 700;
  border: 0;
  border-radius: 0;
  padding: 13px 0;
  background-color: #7fad39;
  color: #ffffff;
}
.bottom-header .list-group .collapse a {
  padding-left: 20px;
}
.bottom-header .search {
  border: 1px solid #ebebeb;
}
@media (max-width: 767px) {
  .bottom-header .search {
    margin-bottom: 20px;
  }
}
.bottom-header .search .catogray {
  padding-left: 13px;
  color: #1c1c1c;
  font-weight: 700;
}
.bottom-header .search .catogray svg {
  margin-left: 5px;
}
@media (max-width: 767px) {
  .bottom-header .search .catogray {
    display: none;
  }
}
.bottom-header .search input[type=search] {
  margin: 13px;
  border: none;
  border-left: 2px solid #ebebeb;
  margin-left: 35px;
}
@media (max-width: 767px) {
  .bottom-header .search input[type=search] {
    margin: 1px;
    margin-left: 1px;
    font-size: 15px;
  }
}
.bottom-header .search button {
  background: #7fad39;
  font-weight: 700;
  font-size: 19px;
  color: #ffffff;
  padding: 10px 0;
  border-radius: 0;
}
.bottom-header .search button:hover {
  background: #7fad39 !important;
}
@media (max-width: 767px) {
  .bottom-header .search button {
    font-size: 15px;
  }
}
.bottom-header .icon svg {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 50%;
  color: #7fad39;
  margin-right: 12px;
  font-size: 16px;
}
.bottom-header .icon p {
  margin-bottom: 0 !important;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .contact-image h3 {
    font-size: 37px;
  }
}

@media (max-width: 767px) {
  .shop-details .left-side {
    margin-top: 20px;
  }
}
.shop-details .left-side h3 {
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 20px;
}
.shop-details .left-side .star {
  margin-bottom: 20px;
}
.shop-details .left-side .star svg {
  margin-right: -2px;
  color: #edbb0e;
  font-size: 15px;
}
.shop-details .left-side .star span {
  color: red;
}
.shop-details .left-side h4 {
  font-size: 30px;
  color: #dd2222;
  font-weight: 600;
  margin-bottom: 15px;
}
.shop-details .left-side p {
  font-size: 16px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}
.shop-details .left-side .calc {
  background-color: #f5f5f5;
  width: 130px;
  height: 50px;
}
.shop-details .left-side .calc p {
  margin-right: 37px;
  margin-top: 10px;
}
.shop-details .left-side .link {
  background-color: #7fad39;
  padding: 13px 25px;
  margin-left: 15px;
  color: #ffffff;
  font-weight: bold;
}
@media (max-width: 992px) {
  .shop-details .left-side .link {
    padding: 13px 12px;
  }
}
.shop-details .left-side .icon {
  color: #1c1c1c;
  background-color: #f5f5f5;
  padding: 13px 20px;
  margin-left: 15px;
}
.shop-details .left-side ul {
  margin-top: 30px;
}
.shop-details .left-side ul li {
  font-size: 16px;
  color: #1c1c1c;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .shop-details .left-side ul li {
    margin-bottom: 15px;
  }
}
.shop-details .left-side ul li h5 {
  font-size: 17px;
  font-weight: 700;
  width: 200px;
}
@media (max-width: 767px) {
  .shop-details .left-side ul li h5 {
    width: 1500;
  }
}
.shop-details .left-side ul li p {
  color: #1c1c1c;
}
.shop-details .left-side ul li span {
  color: #dd2222;
}

.Description {
  margin-top: 60px;
}
.Description .link .link1 {
  color: #1c1c1c;
  font-weight: 700;
  font-size: 18px;
}
.Description .link .link2 {
  color: #495057;
  font-weight: 700;
  font-size: 18px;
}
.Description h5 {
  color: #1c1c1c;
  font-weight: 700;
}
.Description p {
  font-size: 16px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 26px;
}

.product {
  margin-top: 60px;
}
.product h2 {
  font-weight: 700;
  color: #1c1c1c;
}
.product h2::after {
  position: absolute;
  content: "";
  width: 101px;
  height: 5px;
  background-color: #7fad39;
  left: 50%;
  top: 43px;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
}
.product .row {
  margin-top: 50px;
}
.product .row .box ul {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product .row .box ul li a {
  padding: 10px 20px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #1c1c1c;
}
@media (min-width: 767px) and (max-width: 1197px) {
  .product .row .box ul li a {
    padding: 7px 12px;
  }
}
.product .row .box ul li a:hover {
  color: #ffffff;
  background-color: #7fad39;
}
.product .row .box ul li a svg {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.product .row .box ul li a svg:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.product .row .box:hover ul {
  opacity: 1;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
@media (min-width: 767px) and (max-width: 1197px) {
  .product .row .box:hover ul {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}
.product .row .titlle h6 {
  color: #1c1c1c;
  font-weight: 700;
}

.Shopping .overtable {
  overflow-x: auto;
}
.Shopping .overtable .table {
  min-width: 1000px;
}
.Shopping .overtable .table .left {
  width: 630px;
  text-align: left;
}
.Shopping .overtable .table th {
  font-size: 20px;
  font-weight: 700;
  color: #1c1c1c;
}
.Shopping .overtable .table td {
  padding-top: 30px;
  padding-bottom: 30px;
}
.Shopping .overtable .table p {
  margin-bottom: 0 !important;
}
.Shopping .overtable .table .text {
  font-size: 20px;
  font-weight: 700;
  color: #1c1c1c;
}
.Shopping .overtable .table .calc {
  background-color: #f5f5f5;
  width: 110px;
  height: 45px;
}
.Shopping .overtable .table .calc p {
  margin-right: 34px;
}
.Shopping .overtable .table .icon {
  font-size: 24px;
  color: #b2b2b2;
  cursor: pointer;
}
.Shopping .Discount .col {
  height: 50px;
}
.Shopping .Discount .link a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #6f6f6f;
  padding: 14px 30px 12px;
  background: #f5f5f5;
}
.Shopping .Discount h5 {
  font-weight: 700;
  color: #1c1c1c;
}
.Shopping .Discount input {
  padding-top: 5px;
  height: 50px;
  color: #6f6f6f;
  border: 1px solid #ebebeb !important;
  padding-left: 15px;
}
.Shopping .Discount input:focus-within {
  outline: none !important;
}
.Shopping .Discount button {
  margin-left: 15px;
  font-weight: 700;
  font-size: 25px;
  padding: 15px 11px;
  font-size: 15px;
  letter-spacing: 4px;
  background: #6f6f6f;
}
.Shopping .Discount button:hover {
  background-color: #6f6f6f !important;
  color: #ffffff !important;
}
@media (max-width: 767px) {
  .Shopping .Discount button {
    font-size: 15px;
    padding: 7px !important;
  }
}
.Shopping .Discount .btn {
  color: #ebebeb;
  border-radius: 0px !important;
}
.Shopping .Discount p {
  font-size: 18px;
  font-weight: 700;
  color: #dd2222;
}
.Shopping .Discount .box {
  background: #f5f5f5;
  padding: 30px;
  padding-top: 20px;
}
.Shopping .Discount .box button {
  margin-top: 20px;
  background-color: #7fad39;
}
.Shopping .Discount .box button:hover {
  background-color: #7fad39 !important;
  color: #ffffff !important;
}
/*# sourceMappingURL=main.css.map */